    .item-listado-cuadros-capas .titulo-apartado{
        margin:1px;
        font-weight: normal;
        font-size: 0.9em;
        position: absolute;
        width: 100%;
        height: 80%;

    }

    .item-listado-cuadros-capas .titulo-apartado a{
        width: 80%;
        height: 80%;
        display:block;
    }

    .item-listado-cuadros-capas{
        display:table;
        padding:7px;
        float:left;
        margin: 2px 0;
        height:150px;
        background:#f8f6f6;
        position:relative;
        cursor:pointer;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 1px solid white;
        opacity:0.7;
    }

    .item-listado-cuadros-capas:hover {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -webkit-transition: opacity .5s ease-in-out;
    }

    .item-listado-cuadros-capas a:hover{
        text-decoration: none;
        color: white;
    }
    .item-cuadro-capa-transparente{
        max-height:174px;
        width:100%;
        position:absolute;
        bottom:0;
        left:0;
        background-color:black;
/*        background:url(images/transparent_black.png); */
        display:none;
        padding:2px;
        overflow: hidden;
        text-overflow: ellipsis;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

    }
     .item-listado-cuadros-capas .item-cuadro-capa-transparente .descripcion-apartado > a{
        height:80px;
        font-weight: normal;
        font-size: 0.9em;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .descripcion-apartado {
        text-align:center;
    }

    .item-cuadro-capa-transparente  a i {
        margin:5px;
        padding: 13px;
        border: 7px solid white;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    .flecha-pie {
        bottom: 1px;
        text-align: center;
        background-color: black;
        color: white;
        position: absolute;
        border-right: 1px solid black;
        border-left: 1px solid black;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        width: 98%;
        left: 1%;
    }

    .flecha-abajo {
        text-align: center;
        background-color: black;
        color: white;

    }

    .item-cuadro-capa-transparente > a:after{
        content:                    '...';
        text-align:                 right;
        position:                   absolute;
        display:                    block;
        width:                      2em;
        height:                     1em;
    }

    .clear{
        clear:both;
    }




.item-listado-cuadros-capas a {
    color:white;
    font-weight: bold;
    font-size: 1.1em;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 2px #000,
    -1px 1px 2px #000,
    1px 1px 0 #000;
/*    position: absolute;
*/
}

.titulo-apartado .icono {
    position:absolute;
    bottom: 20px;
    right: 10%;
    z-index: -1;
}
.titulo-apartado .icono [class^="flaticon-"]:before, .titulo-apartado .icono [class*=" flaticon-"]:before, .titulo-apartado .icono [class^="flaticon-"]:after, .titulo-apartado .icono [class*=" flaticon-"]:after {
    font-size: 80px;
    opacity: 0.7;
}


.item-listado-cuadros-capas:nth-of-type(8n+0) {
    background-color: rgb(208, 52, 3);
}

.item-listado-cuadros-capas:nth-of-type(8n+1) {
    background-color: rgb(233, 147, 26);
}

.item-listado-cuadros-capas:nth-of-type(8n+2){
    background-color: rgb(12, 110, 149);
}

.item-listado-cuadros-capas:nth-of-type(8n+3){
    background-color:  rgb(10, 75, 117);
    /*#416881;*/
}

.item-listado-cuadros-capas:nth-of-type(8n+4){
    background-color: #97CA04;/*#3d3d3d;*/
}

.item-listado-cuadros-capas:nth-of-type(8n+5){
    background-color: #FFBF02; /*#651A83;*/
}
.item-listado-cuadros-capas:nth-of-type(8n+6){
    background-color: #009D9B;
}
.item-listado-cuadros-capas:nth-of-type(8n+7){
    background-color: #FE6400;
}


.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-table;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}



/* clear and pagination styles */
*.ccm-spacer {clear: both; font-size:1px; line-height:1px; }
div.ccm-pagination { text-align:center; position: relative; padding: 4px;}
div.ccm-pagination span.ccm-page-right {
        position: relative;
        float: right;
        padding-bottom: 2px;
}

div.ccm-pagination span.ccm-page-left {
        position: relative;
        float: left;
}
div.ccm-pagination span {font-size: 1.4em; margin-right: 4px}
div.ccm-pagination span a {font-size: 1.4em;color: #0079c2}
.ccm-ui div.ccm-pagination span {margin-right: 0px;}
.numbers strong{
  font-size: 1.4em;
}

/* Extra pagination styling to make code generated by C5 pagination helper look nice */
div.pagination ul strong, div.pagination ul span.ltgray {
        display:block;
        padding:0 14px;
        float:left;
        line-height:34px;
        border-right:1px solid #DDD;
        text-decoration:none;
}

