.cuadro-menu {
	height: 100px;
	margin-bottom: 2px; 
	display: table-cell;
	vertical-align: middle;
	text-align: center;
    padding: 5px;

}

.cuadro-menu a{
	width: 100%;


}
.item {
  display:table;
  	background-color: #0079c2;
	margin-bottom: 2px;
	opacity:0.7;
}

.item a {
	color:white;
}


.item:nth-of-type(n) {
    background-color: #0079c2;
}

.item:nth-of-type(2n) {
    background-color: #0a00c2;
}

.item:nth-of-type(3n){
    background-color: #8b00c2;
}
.item:nth-of-type(4n){
    background-color: #416881;
}

.item:nth-of-type(5n){
    background-color: #3d3d3d;
}

.item:nth-of-type(6n){
    background-color: #651A83;
}
.item:nth-of-type(7n){
    background-color: #0079c2;
}