.tree {
    width: 250px;
    min-height:20px;

    margin-bottom:20px;
    /*background-color:#fbfbfb;*/

}
.tree .nav-selected > .carpeta >.nodo, .tree .nav-selected > .nodo{
    border:1px solid rgb(114, 129, 168); 
}
.tree ul {
    padding-left: 15px;
} 

.tree > .nivel1 > li >.nodo, .tree > .nivel1 > li > .carpeta >.nodo{
    padding: 6px 10px;
}

.tree li {
        list-style-type:none;
}

.tree .nodo {
    margin-bottom:1px;
    padding: 6px 10px;
    position:relative;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 5px;
    color: #333;
    background-color: #f2f2f2;
    border-color: #ddd;
    width: 100%;

}
.tree .nodo:hover{
    background-color: #AAB5C4 
}
.tree a {
  color: black;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.tree .nodo a:hover {
    color:black;
    text-decoration: none;
}

.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li.parent_li > ul > li >.nodo {
    background-color: white 
}
 .tree li.parent_li > ul > li >.nodo:hover {
    background-color: #AAB5C4   
 }

.tree li span {
    display:inline-block;
    padding:3px 8px 3px 0;
    text-decoration:none;
    color: #0079c2;
    float: left;
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree li.parent_li > ul > li {
    display: none
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
