.tree {
    width: 100%;
    min-height:20px;
    margin-bottom:20px;
    /*background-color:#fbfbfb;*/

}
.tree li.nav-selected > .carpeta >.nodo, .tree li.nav-selected > .nodo, .tree li.parent_li > ul > li.nav-selected > .nodo{
    color: white;
    border:1px solid rgb(114, 129, 168);
    background-color: #65acd8; 
}
.tree ul {
    padding-left: 15px;
} 

.tree > .nivel1 > li >.nodo, .tree > .nivel1 > li > .carpeta >.nodo{
    padding: 3px 10px;
}

.tree li {
    list-style-type:none;
    margin: 0.5em 0;
}

.tree .nodo {
    margin-bottom:1px;
    padding: 3px 10px;
    position:relative;
    display: inline-block;
    border: 1px solid rgb(182, 195, 212);
    border-radius: 2px;
    color: #333;
    background-color: #f2f2f2;
    width: 100%;
    -webkit-box-shadow: 2 2px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 2 2px 10px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);

}
.tree .nodo:hover{
    background-color: #AAB5C4 
}

.tree a {
  color: black;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 12px;
  padding-top: 1px;
}

.tree .nodo a:hover {
    color:black;
    text-decoration: none;
}

.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li.parent_li > ul > li >.nodo {
    background-color: white 
}
 .tree li.parent_li > ul > li >.nodo:hover {
    background-color: #AAB5C4   
 }

.tree li span {
    display:inline-block;
    padding:0 8px 0 0;
    text-decoration:none;
    color: #0079c2;
    float: left;
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree li.parent_li > ul > li {
/*    display: none */
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
