.tree {
    width: 250px;
    min-height:20px;

    margin-bottom:20px;
    /*background-color:#fbfbfb;*/

}
.tree ul {
    padding-left: 10px;
} 
.tree li {
        list-style-type:none;
}

.tree .nodo {
    margin-bottom:1px;
    padding: 2px 10px;
    position:relative;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 5px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    width: 100%;

}
.tree .nodo:hover{
    background-color: #f0f0f0 
}
.tree a {
  color: black;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tree .nodo a:hover {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li.parent_li > ul > li >.nodo {
    background-color: #fdfdfd 

}
.tree li span {
    display:inline-block;
    padding:3px 8px 3px 0;
    text-decoration:none;
    color: #0079c2;
    float: left;
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree li.parent_li > ul > li {
    display: none
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
