#destacados {
	width:200px;
}

.contenido-item {
	position:absolute;
	display: table;
	height: 100%;
	width: 100%;
}

#destacados .item-listado {
	opacity:0.7;
	background-color: white;
	height: 122px;
	text-align: center;
	margin-bottom: -10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	border: 1px solid  white;
}
#destacados .item-listado .titulo {
	margin-bottom: 2px; 
	vertical-align: middle;
	text-align: center;
    padding: 5px;
    z-index:3;
    display: table-cell;

}
#destacados .item-listado .descripcion {
    position: relative;
	margin-bottom: 2px; 
	vertical-align: middle;
	text-align: center;
    padding: 5px;
    z-index:3;
	display: none; 
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	margin: 0 -15px;
}

#destacados .item-listado .oculto {
    opacity:0;
}

#destacados .titulo a{
	width: 100%;
}

#destacados .item-listado a {
	color:white;
}
#destacados .item-listado a:hover {
	text-decoration: none;
}

#destacados .item-listado:nth-of-type(n), #destacados .item-listado:nth-of-type(n) .descripcion {
    background-color: #0079c2;
}

 #destacados .item-listado:nth-of-type(2n), #destacados .item-listado:nth-of-type(2n) .descripcion {
    background-color: #0a00c2;
}

#destacados .item-listado:nth-of-type(3n), #destacados .item-listado:nth-of-type(3n) .descripcion{
    background-color: #8b00c2;
}
 #destacados .item-listado:nth-of-type(4n), #destacados .item-listado:nth-of-type(4n) .descripcion{
    background-color: #416881;
}

#destacados .item-listado:nth-of-type(5n), #destacados .item-listado:nth-of-type(5n) .descripcion{
    background-color: #3d3d3d;
}

 #destacados .item-listado:nth-of-type(6n), #destacados .item-listado:nth-of-type(6n) .descripcion{
    background-color: #651A83;
}
#destacados .item-listado:nth-of-type(7n), #destacados .item-listado:nth-of-type(7n) .descripcion{
    background-color: #0079c2;
}